{% extends "base.html.twig" %}

{% block title %}login{% endblock %}

{% block body %}
    <form action="login" method="post">
        <h2>User Login</h2>

        <div class="container">
            {% if errorMessage %}
                <div class="error_message" >{{ errorMessage }}</div>
            {% endif %}
            <div>
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter email" id="email" name="email" required>
            </div>

            <div>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1; margin-top: 20px;">
            <a href="{{ registerRoute }}"><button type="button" class="Regbtn">Create an account</button></a>
        </div>
    </form>

{% endblock %}
